div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    color: white;
}

#box1{
    background-image: url("andrew-castillo-4hjvyE7mgxE-unsplash.jpg");
    background-size: cover;
}

#box2{
    background-image: url("andrew-castillo-4hjvyE7mgxE-unsplash.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
}