div{
    height: 50px;
    width: 50px;
    background-color: brown;
}

/* @media (width : 600px) {
    div{
        background-color: chocolate;
    }
} */

/* @media (min-width : 600px) {
    div{
        background-color: rgb(114, 30, 210);
    }
} */

/* @media (max-width : 600px) {
    div{
        background-color: rgb(210, 30, 120);
    }
} */

@media (min-width : 200px) and (max-width : 300px) {
    div{
        background-color: rgb(30, 210, 39);
    }
}